.big-title{
    font-size: clamp(2.6rem, 3vw, 3.5rem);
    color: var(--color-text);
    text-align: center;
    margin: 0;
    padding: 20px 0;
    margin-bottom: 106px;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: var(--color-secondary);
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;

}
.card-container{
    flex: 0 0 calc(46% - (clamp(16px, 3vw, 24px) / 2));
    aspect-ratio: 500 / 455;
    background-color: var(--color-secondary);
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 12px 8px rgb(3, 18, 46) ;
}
.card-container:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.projects-container{
    margin: 0 clamp(20px, 15vw, 230px);

    display: flex;
    flex-wrap: wrap;
    gap: clamp(26px, 2vw, 50px);
    margin-bottom: 450px;
}
.card-image{
    border-radius: 12px;
    
    height: 70%;
    width: 90%;
    margin:  clamp(20px, 5vw, 25px);
   
}
.title{
    font-size: clamp(1.2rem, 1.8vw, 2rem);
    color: var(--color-text);
    margin: 10px;
    text-align: center;
}
.description{
    font-size: clamp(1rem, 1.2vw, 1.5rem);
    color: var(--color-text);
    margin: 0;
    text-align: center;
    padding: 0 clamp(20px, 5vw, 25px);
}
.card-buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    left: 5vw;
    gap: clamp(6px, 1vw, 12px);

    width: 70%;
    margin-bottom: clamp(20px, 3vw, 25px);
    margin-top: clamp(20px, 3vw, 25px);
    margin-right: clamp(20px, 3vw, 25px);
    
    
}
.card-button{
    background-color: #0A2955;
    color: var(--color-text);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: clamp(150px, 15vw, 175px);
}
#btn2:hover{
    background-color: #11178d;
    transition: background-color 0.3s ease;
}
.card-button:hover{
    background-color: #11178d;
    transition: background-color 0.3s ease;
}
.card-button a{
    color: var(--color-text);
    text-decoration: none;
}
#btn2{
    background-color: #546FD7;
}
@media (max-width:1024px) {
    .card-container{
        width: 100%;
    }
    .projects-container{
        flex-direction: column;
    }
    
}